<style>
    iframe {
        width: 100%;
        height: calc(100vh - 80px);    
    }

    #calendario:-moz-full-screen {
        background-color: #fff !important;
    }
    #calendario:-webkit-full-screen {
        background-color: #fff !important;
    }
    #calendario:fullscreen {
        background-color: #fff !important;
    }
    #calendario:-ms-fullscreen {
        background-color: #fff !important;
    }
    
</style>

<iframe id="calendario" frameborder="0" src="https://tecnico.itsc.ec/calendarioAPP/?default_vista=list&default_choose=month"></iframe>
