<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#071625">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#071625">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#071625">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ITSC S.A Web APPs  </title>
  <!-- Bootstrap core CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">

  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->


  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <style>
    .boton-itsc {
      background: #d6d6d6 !important;
    }

    .bg-dark {
        background-color: #071625!important;
    }

    body:-moz-full-screen {
        background-color: #fff !important;
    }
    body:-webkit-full-screen {
        background-color: #fff !important;
    }
    body:fullscreen {
        background-color: #fff !important;
    }
    body:-ms-fullscreen {
        background-color: #fff !important;
    }
  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="app">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" target="_blank" rel="noopener noreferrer" href="http://www.itsc.ec">ITSC S.A.</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item"  data-placement="right" ui-sref-active="active" ui-sref="oportunidad" data-toggle="tooltip" title="Oportunidades">
          <a class="nav-link">
            <i class="fa fa-fw fa-lightbulb-o"></i>
            <span class="nav-link-text">Oportunidades</span>
          </a>
        </li>
        
        <li class="nav-item" ui-sref-active="active" data-toggle="tooltip" data-placement="right" title="Gestiones Realizadas">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#gestiones_coll" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-check-circle"></i>
            <span class="nav-link-text">Gestiones Realizadas</span>
          </a>
          <ul class="sidenav-second-level collapse" id="gestiones_coll">
            <li ui-sref-active-parent="active" ui-sref="gestion_hoy">
              <a >Hoy</a>
            </li>
            <li ui-sref-active-parent="active" ui-sref="gestion_7dias">
              <a >Hace 7 dias</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" ui-sref-active="active" data-toggle="tooltip" data-placement="right" title="Mi Agenda">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#agenda_coll" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-list"></i>
            <span class="nav-link-text">Mi Agenda</span>
          </a>
          <ul class="sidenav-second-level collapse" id="agenda_coll">
            <li ui-sref-active-parent="active" ui-sref="agenda_hoy">
              <a >Hasta Hoy</a>
            </li>
            <li ui-sref-active-parent="active" ui-sref="agenda_7dias">
              <a >Prox. 7 dìas</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" ui-sref-active="active" data-toggle="tooltip" data-placement="right" title="Agenda Equipo">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#agenda_equipo_coll" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Agenda Equipo</span>
          </a>
          <ul class="sidenav-second-level collapse" id="agenda_equipo_coll">
            <li ui-sref-active-parent="active" ui-sref="agenda_equipo_hoy">
              <a >Hasta Hoy</a>
            </li>
            <li ui-sref-active-parent="active" ui-sref="agenda_equipo_7dias">
              <a >Prox. 7 dìas</a>
            </li>
          </ul>
        </li>

        <li class="nav-item"  data-placement="right" ui-sref-active="active" ui-sref="calendario" ui-sref-opts="{reload: true, notify: true}" data-toggle="tooltip" title="Calendarioo">
          <a class="nav-link">
            <i class="fa fa-fw fa-calendar"></i>
            <span class="nav-link-text">Calendario</span>
          </a>
        </li>

        <li class="nav-item" id="fullscreen" data-placement="right" data-toggle="tooltip" title="Full Screnn">
          <a class="nav-link">
            <i class="fa fa-fw fa-expand"></i>
            <span class="nav-link-text">Full Screen</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>


      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" onclick="logout()">
            <i class="fa fa-fw fa-sign-out"></i>Salir</a>
        </li>

        <script>
          function logout() {
            if (confirm("Esta seguro que desea salir?")) {
              window.location.replace(`/logout/`)
            }
          }
        </script>

      </ul>



    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        <ui-view></ui-view>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>


  <div class="modal fade" id="siguiente_gestion_modal" ng-controller="crear_gestion" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5>Crear Siguiente Gestión</h5>               
        </div>

        <div class="modal-body">
            <style>
                .form-group label {
                    font-weight: bold;
                }
            </style>
            <form id="crear_siguiente_gestion" ng-submit="crearGestion(tipo_actividad, fecha_gestion, gestion, next_activity, next_activity_date)">

                <div ng-show="error.show" class="form-group">
                  <p style="color: red;">{{error.msg}}</p>
                </div>

                <div class="form-group">
                    <label class="control-label"> Gestión Actual </label>
                    <div class="">
                        <input readonly class="form-control" type="text" ng-model="gestion_actual">
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="control-label ">Tipo Actividad</label>
                    <div class="">
                        <select required class="form-control" ng-model="tipo_actividad">
                            <option selected disabled value=""></option>
                            <option ng-repeat="ref in ref_actividad" value="{{ref.key}}">{{ref.value}}</option>
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="control-label ">Fecha</label>
                    <div class="">
                        <input required class="form-control" ng-model="fecha_gestion" type="date">
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="control-label ">Descripcion</label>
                    <div class="">
                        <input required class="form-control" type="text" ng-model="gestion">
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="control-label ">Siguiente Actividad</label>
                    <div class="">
                        <select required class="form-control" ng-model="next_activity">
                            <option selected="selected" disabled value></option>
                            <option ng-repeat="ref in ref_actividad" value="{{ref.key}}">{{ref.value}}</option>
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="control-label ">Fecha Siguiente Actividad</label>
                    <div class="">
                        <input required class="form-control" type="date" ng-model="next_activity_date">
                    </div>
                </div>
        
                <!--<div class="form-group ">
                    <button type="submit" class="btn btn-info">Aceptar</button>
                    <button type="button" ng-click="cancelar()" class="btn btn-default">Cancelar</button>
                </div>-->
            </form>            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info" form="crear_siguiente_gestion">Aceptar</button>
            <button type="button" ng-click="cancelar()" class="btn btn-default" form="crear_siguiente_gestion">Cancelar</button>
        </div>
            
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script src="/js/EventBus.js"></script>
<script src="/vendor/moment.js"></script>
<script src="/vendor/angular.min.js"></script>
<script src="/vendor/angular-ui-router.min.js"></script>
<script src="/vendor/jquery-3.3.1.slim.min.js" ></script>
<script src="/vendor/popper.min.js" ></script>
<script src="/vendor/bootstrap.min.js" ></script>

<script src="/vendor/jquery.dataTables.min.js"></script>
<script src="/vendor/dataTables.responsive.min.js"></script>
<script src="js/sb-admin.js"></script>
<script src="/js/app.js"></script>
<script>

    //Soporte de full screen
    document.getElementById('fullscreen').addEventListener('click', function (event){

        if (document.fullscreenEnabled || document.webkitFullscreenEnabled || document.mozFullScreenEnabled || document.msFullscreenEnabled) {

            if (document.fullscreenElement || document.webkitFullscreenElement || document.mozFullScreenElement || document.msFullscreenElement) {
                //Actual: full screen
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }

                document.querySelector("#fullscreen i").className = 'fa fa-fw fa-expand'

            } else {
                //No esta en modo full screen
                if (document.body.requestFullscreen) {
                    document.body.requestFullscreen();
                } else if (document.body.webkitRequestFullscreen) {
                    document.body.webkitRequestFullscreen();
                } else if (document.body.mozRequestFullScreen) {
                    document.body.mozRequestFullScreen();
                } else if (document.body.msRequestFullscreen) {
                    document.body.msRequestFullscreen();
                }

                document.querySelector("#fullscreen i").className = 'fa fa-fw fa-compress'
            }        

        } else {
            alert("Su navegador no soporta Full Screen")
        }
    }, false)
</script>

<script>


</script>
</body>

</html>
