
<div class="modal fade" id="oportunidad_actividad_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-body">
            <table id="actividades" style="width:100%"> </table>        
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="cerrar()" class="btn btn-default boton-itsc">Cerrar</button>
        </div>
            
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->